extends layout

block content

  h1 #{title}

  form(action="", method="POST")
    div
      label(for='name') Sneaker Name: 
      input(type='text' name='name', required='true' value=(undefined===sneaker ? '' : sneaker.name))
    div 
      label(for='description') Sneaker Description: 
      input(type='text' name="description", size=45  required='true' value=(undefined===sneaker ? '' : sneaker.description)) 

    div 
      label(for='brand') Brand: 
      select(name="brand" placeholder='Select brand' required='true')
        for brand in brands
          if sneaker
            option(value=brand._id selected=(brand._id.toString()===sneaker.brand._id.toString() ? 'selected' : false)) #{brand.name}
          else 
            option(value=brand._id) #{brand.name}

    div 
      label(for="colorway") Colorway: 
      input(type="text", name="colorway" required='true', placeholder='Black-White etc.', value=(undefined===sneaker ? '' : sneaker.colorway))

    div 
      label(for="price") Price in £:
      input(type='text' placeholder:='79.00' name='price' required='true' pattern='\\d{1,3}(?:[.,]\\d{3})*(?:[.,]\\d{2})'  value=(undefined===sneaker ? '' : sneaker.price))

    div
      label(for="pairs") Pairs Owned: 
      input(type='number' name='pairs' min=1 required='true' value=(undefined===sneaker ? 1 : sneaker.pairs))

    div
      button(type="submit") Submit

  if errors 
    ul
      for error in errors
        li!= error.msg